:root {
  --text: #000000;
  /* Black text color */
  --primary-bg: #4d9078;
  /* background color */
  --secundary-bg: #3d6f5f;
  /* background color */
  --navbar-bg: #5FAD56;
  /* Green background color */
  --navbar-hover: #F2C14E;
  /* Yellow hover color */
  --navbar-selected: #F78154;
  /* Red-Orange selected color */
}

/* set all text to the correct color and to the left */
:is(h1, h2, h3, h4, h5, h6, p) {
  text-align: left;
  color: var(--text);
}

/* css for the navbar */
.navbar {
  margin-top: 10px;
  overflow: hidden;
  background-color: var(--navbar-bg);
  height: 45px;
  width: max-content;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

/* css for navbar buttons */
.navbar a {
  float: left;
  font-size: 16px;
  color: var(--text);
  text-align: center;
  padding: 14px 16px;
  margin-left: 2px;
  text-decoration: none;
  border-radius: 25px;
}

.navbar a:hover {
  background-color: var(--navbar-hover);
}

.navbar a.selected {
  background-color: var(--navbar-selected);
}

/* css for the logo in the navbar */
.logo {
  width: 45px;
  height: max-content;
  object-fit: contain;
  float: left;
  border-radius: 5px;
}

/* base for body */
body {
  background-color: var(--primary-bg);
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 99vw;
  min-height: 99vh;

}

  .wrapper {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2vw;
  }

  .duckcontainer {
    display: none;
  }
