/* small screen */
@media (max-width: 767px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "selfie selfie"
      "about-me about-me"
      "projecten projecten"
      "contact contact";
  }

  .about-me {
    grid-area: about-me;
    border-style: solid none solid none;
    border-width: 2px;
    border-color: var(--secundary-bg);
  }

  .selfie {
    grid-area: selfie;
    border-style: solid none solid none;
    border-width: 2px;
    border-color: var(--secundary-bg);

    img {
      max-width: 25vw;
    }
  }

  .contact {
    grid-area: contact;
    border-style: solid none solid none;
    border-width: 2px;
    border-color: var(--secundary-bg);
  }

  .projecten {
    grid-area: projecten;
    border-style: solid none solid none;
    border-width: 2px;
    border-color: var(--secundary-bg);
  }
}


/* big screen */
@media (min-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "selfie about-me projecten contact"
      "selfie about-me projecten contact";
  }

  .about-me {
    grid-area: about-me;
    border-style: none solid none solid;
    border-width: 2px;
    border-color: var(--secundary-bg);
    padding: 5px 5px 5px 5px;
  }

  .selfie {
    grid-area: selfie;
    border-style: none solid none none;
    border-width: 2px;
    border-color: var(--secundary-bg);

    img {
      max-width: 25vw;
    }
  }

  .contact {
    grid-area: contact;
    border-style: none none none solid;
    border-width: 2px;
    border-color: var(--secundary-bg);
    padding: 5px 5px 5px 5px;
  }

  .projecten {
    grid-area: projecten;
    border-style: none solid none solid;
    border-width: 2px;
    border-color: var(--secundary-bg);
    padding: 5px 5px 5px 5px;
  }


}