/* moves the selfie picture to the right */
.photo {
  float: right;
  margin-left: 20px;
  margin-right: 20px;
}

/* makes the image smaller on smaller screens */
@media only screen and (max-width: 900px) {
  .photo {
    width: 40vw;

  }
}


/* setup background and ground rules for the code blcok */
.code {
  display: inline-block;
  background-color: #1d2229;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 5px;
  font-family: "Courier New", monospace;
  max-width: 66vw;
  color: white;
  min-width: min-content;
}

/* shows the buttons on the codeblock */
#runbutton,
#contactbutton,
#projectbutton {
  float: left;
  font-size: 16px;
  color: var(--text);
  background-color: green;
  text-align: center;
  padding: 14px 16px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
}

/* button that 'stops' the code block */
#stop {
  float: left;
}

#stop img {
  height: 10px;
  width: 10px;
}

/* give each section in the code block the correct color */
.keyword {
  color: #ff7085;
}

.string {
  color: #ffeda1;
}

.int {
  color: #8fffdb;
}

.enginetype {
  color: #8fffdb;
}

.function {
  color: #66e6ff;
}


.globalfunc {
  color: #a3a3f5;
}

.comment {
  color: #cdcfd280;
}