/* default styles */
.timeline {
    width: 95vw;
    background-color: var(--navbar-bg);
    color: var(--text);
    padding: 30px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.timeline ul {
    list-style-type: none;
    border-left: 2px solid var(--timeline-item-border);
    padding: 10px 5px;
}

.timeline ul li {
    padding: 20px 20px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.timeline ul li span {
    display: inline-block;
    background-color: var(--navbar-selected);
    border-radius: 25px;
    padding: 2px 5px;
    font-size: 15px;
    text-align: center;
}

.timeline ul li .content h3 {
    color: var(--navbar-hover);
    font-size: 17px;
    padding-top: 5px;
}

.timeline ul li .content p {
    padding: 5px 0px 15px 0px;
    font-size: 15px;
}

.timeline ul li:before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--navbar-selected);
    border-radius: 50%;
    left: -11px;
    top: 28px;
    transition: 0.5s;
}

.timeline ul li:hover {
    background-color: var(--timeline-item-bg);
    .github{
        border: 1px solid var(--navbar-bg)
    }
}

.timeline ul li:hover:before {
    background-color: var(--timeline-item-circle-hover);
    box-shadow: 0px 0px 10px 2px var(--timeline-item-circle-hover);
}

.pic {
    position: relative;
    max-height: 90%;
    width: 30%;
    margin-left: 50px;
}

li {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
}

.github {
    width: 5vh;
    height: auto;
}

.datum {
    padding-right: 10px;
}

/* media queries for responsiveness */
@media only screen and (max-width: 700px) {
    .timeline {
        width: 100%;
        padding: 1vw 1vh;
    }

    .timeline ul {
        padding: 10px 5px;
    }

    .timeline ul li {
        padding: 20px 20px;
    }

    .timeline ul li span {
        font-size: 15px;
    }

    .timeline ul li .content h3 {
        font-size: 17px;
    }

    .timeline ul li .content p {
        font-size: 15px;
    }

    .timeline ul li:before {
        left: -6px;
        top: 20px;
    }

    .pic {
        width: auto;
        max-height: 20vh;
        margin-left: 0;
        margin-bottom: 20px;
    }

    li {
        flex-direction: column;
    }

    .github {
        width: 10%;
    }

    .datum {
        text-decoration: none;
        display: block;
    }

    .description,
    .description:link,
    .description:visited,
    .description:hover,
    .description:active {
        text-decoration: none;
    }
}

@media only screen and (min-width: 701px) {
    .timeline {
        width: 95vw;
        padding: 30px 20px;
    }

    .timeline ul {
        padding: 10px 5px;
    }

    .timeline ul li {
        padding: 20px 20px;
    }

    .timeline ul li span {
        font-size: 15px;
    }

    .timeline ul li .content h3 {
        font-size: 17px;
    }

    .timeline ul li .content p {
        font-size: 15px;
    }

    .timeline ul li:before {
        left: -11px;
        top: 28px;
    }

    .pic {
        width: 30%;
        margin-left: 50px;
    }

    li {
        flex-direction: row;
    }

    .github {
        width: 5vh;
        
    }

    .datum {
        padding-right: 10px;
        text-decoration: none;
    }

}